# SSH/sudo
ansible_become_password: ""

# App/DB secrets
database_url: ""
riot_api_key: ""
twitch_client_id: ""
twitch_client_secret: ""
discord_webhook_url: ""
letsencrypt_email: ""
cloudflare_api_token: ""
github_runner_registration_token: ""
