---
- name: Install Nginx
  become: yes
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: yes

- name: Install Certbot for Let's Encrypt
  become: yes
  ansible.builtin.apt:
    name:
      - certbot
      - python3-certbot-nginx
    state: present

- name: Ensure Nginx is enabled and started
  become: yes
  ansible.builtin.systemd:
    name: nginx
    enabled: yes
    state: started
  when: not ansible_check_mode
