---
- name: Deploy oauth2-proxy configuration
  become: yes
  ansible.builtin.template:
    src: oauth2-proxy.cfg.j2
    dest: /etc/oauth2-proxy/oauth2-proxy.cfg
    owner: "{{ oauth2_proxy_user }}"
    group: "{{ oauth2_proxy_user }}"
    mode: '0600'
  notify: Restart oauth2-proxy

- name: Deploy oauth2-proxy systemd service
  become: yes
  ansible.builtin.template:
    src: oauth2-proxy.service.j2
    dest: /etc/systemd/system/oauth2-proxy.service
    owner: root
    group: root
    mode: '0644'
  notify: Restart oauth2-proxy

- name: Enable and start oauth2-proxy service
  become: yes
  ansible.builtin.systemd:
    name: oauth2-proxy
    enabled: yes
    state: started
    daemon_reload: yes
  when: not ansible_check_mode
